<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{getTitle()}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="logs.length > 0; else noValue">
  <ion-list *ngIf="logs">
    <ion-item *ngFor="let log of logs">
      <ion-label>
        <h1>{{ log.date_of_log | date:'short' }}</h1>
        <h2>{{ log.isOpened }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ng-template #noValue>
  <ion-content class="ion-padding">
    <p>No hay valores para mostrar</p>
  </ion-content>
</ng-template>
